body {
    font-family: sans-serif;
}
header {
    border-bottom:5px solid black;
}
img {
   border-left:10px dotted black; 
   margin:15px;
}
.gallery {
    border:3px solid black;
    border-radius:10px;
}
h1 {
    text-align:10px;
}
footer {
    border:7px solid black;
}
